{% extends 'base.html' %}
{% block main %}
    {% if err_msg %}
        <p>{{ err_msg }}</p>
    {% endif %}
    {% for post in post_list %}
        <div class="col-md-12">
            <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
            <p style="color: #777">{{ post.excerpt }}</p>
            <div>
                <span class="post-category"><a href="javascript:void (0)" style="color: #777">{{ post.category.name }}</a></span>
                <span class="post-date"><a href="javascript:void (0)" style="color: #777"><time class="entry-date"
                                                          datetime="2012-11-09T23:15:57+00:00">{{ post.create_time }}</time></a></span>
                <span class="post-author"><a href="javascript:void (0)" style="color: #777">{{ post.author.name }}</a></span>
                <span class="comments-link"><a href="javascript:void (0)" style="color: #777">4 评论</a></span>
                <span class="views-count"><a href="javascript:void (0)" style="color: #777">{{ post.views }} 阅读</a></span>
            </div>
            <div class="read-more cl-effect-14">>
                <a href="{{ post.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
            </div>
        </div>

{#        <article class="post {{ post.pk }}">#}
{#            <header class="entry-header" style="text-align:left">#}
{#                <h5 class="entry-title">#}
{#                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>#}
{#                </h5>#}
{#            </header>#}
{#            <div class="entry-content clearfix">#}
{#                <p>{{ post.excerpt }}</p>#}
{#                <div class="entry-meta">#}
{#                    <span class="post-category"><a href="#">{{ post.category.name }}</a></span>#}
{#                    <span class="post-date"><a href="#"><time class="entry-date"#}
{#                                                              datetime="2012-11-09T23:15:57+00:00">{{ post.create_time }}</time></a></span>#}
{#                    <span class="post-author"><a href="#">{{ post.author.name }}</a></span>#}
{#                    <span class="comments-link"><a href="#">4 评论</a></span>#}
{#                    <span class="views-count"><a href="#">{{ post.views }} 阅读</a></span>#}
{#                </div>#}
{#                <div class="read-more cl-effect-14">#}
{#                    <a href="{{ post.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </article>#}
    {% empty %}
        <div class="no-post">暂时还没有发布的文章！</div>
    {% endfor %}

    <!-- 简单分页效果-->
    <nav aria-label="Page navigation" style="text-align: center">
        <ul class="pagination">
            <li>
                <a href="?page={{ page_obj.number|add:-1 }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            {% if is_paginated %}
                {% if first %}
                    <li><a href="?page=1">1</a></li>
                {% endif %}
                {% if left %}
                    {% if left_has_more %}
                        <li><span>...</span></li>
                    {% endif %}
                    {% for i in left %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}

                {% endif %}

                <li class="active"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>

                {% if right %}

                    {% for i in right %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                    {% if right_has_more %}
                        <li><span>...</span></li>
                    {% endif %}

                {% endif %}
                {% if last %}
                    <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
                {% endif %}
            {% endif %}
            <li>
                <a href="?page={{ paginator.number|add:1 }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock main %}
